<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="auth_key" value="XY-API-GATEWAY" />
    <add key="auth_value" value="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI3bGVhZi43bGVhZlwvc3BhY2VzXC9hY2NvdW50XC9zcGFjZXMtaWRlbnRpdHkucGF1bGFuZHNoYXJrIiwiY29va2llIjoiZWM3ZWI4ODgtMzVjNC00MzhlLWFmMGQtNTk0YzU0ZTFmZWY3Iiwic2F2ZWQiOjEsInN1YkRvbWFpbiI6IiIsInNlc3Npb25JZCI6ImVjN2ViODg4LTM1YzQtNDM4ZS1hZjBkLTU5NGM1NGUxZmVmNyIsInNwYWNlIjoiN2xlYWYuN2xlYWZcL3NwYWNlc1wvc3BhY2VcL3NwYWNlcy1pZGVudGl0eS5wYXVsYW5kc2hhcmsiLCJ1cmwiOiIiLCJjdXJyZW50U3BhY2UiOiJzcGFjZXMtaWRlbnRpdHkucGF1bGFuZHNoYXJrIiwiX3QiOiJlYzdlYjg4OC0zNWM0LTQzOGUtYWYwZC01OTRjNTRlMWZlZjciLCJkb21haW4iOiJzcGFjZXMtZGV2ZWxvcGVyLnB4YW5kXC9zcGFjZXNcL3dlYlwvc3BhY2VzZGV2IiwiYWxpYXMiOiJhZG1pbkBwYXVsYW5kc2hhcmsuY29tIiwiZXhwIjoxMzAwODE5MzgwLCJhY2NvdW50IjoiN2xlYWYuN2xlYWZcL3NwYWNlc1wvYWNjb3VudFwvc3BhY2VzLWlkZW50aXR5LnBhdWxhbmRzaGFyayIsInRzIjoiMTY5NjY2MjIzOTMzNiJ9.xUISSR0fKmcQHtJJc-jeo9VpgHchRhQawW37WO1y8mQ" />
    <add key="ApiBaseUrl" value="https://spacesdev.xyretail.com/_s/" />
    <add key="print_server_id" value="IT01ATEST/test-server" />
    <add key="Get_Printer_Relative_URI" value="xypop.api.queryPrinters?id={{print_server_id}}" />
    <add key="Get_Printer_Queue_Relative_URI" value="xypop.api.queryPrinterQueue?id={{print_server_id}}" />
    <add key="Fisical_Printer_URI" value="virtualstore02.armanistore.com" />
    <add key="NON_Fisical_Printer_URI" value="virtualstore02.armanistore.com" />
    <add key="Update_Printer_URI" value="{{base_url}}xypop.api.setPrintDocumentStatus" />
    <add key="LogInfo" value="true" />
    <add key="LogError" value="true" />
  </appSettings>
</configuration>