<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="auth_key" value="XY-API-GATEWAY" />
    <add key="auth_value" value="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJzcGFjZXMtaWRlbnRpdHkucGF1bGFuZHNoYXJrXC9zcGFjZXNcL3VzZXJcLzEwMDAwMDAwMDAzIiwiY29va2llIjoiYjIzMDI2NDgtZDc5NC00MjkzLWExZDctYTMyMzI1OTkxYmFkIiwic2F2ZWQiOjEsInN1YkRvbWFpbiI6IiIsInNlc3Npb25JZCI6ImIyMzAyNjQ4LWQ3OTQtNDI5My1hMWQ3LWEzMjMyNTk5MWJhZCIsInNwYWNlIjoiN2xlYWYuN2xlYWZcL3NwYWNlc1wvc3BhY2VcL3NwYWNlcy1pZGVudGl0eS5wYXVsYW5kc2hhcmsiLCJ1cmwiOiIiLCJjdXJyZW50U3BhY2UiOiJzcGFjZXMtaWRlbnRpdHkucGF1bGFuZHNoYXJrIiwiX3QiOiJiMjMwMjY0OC1kNzk0LTQyOTMtYTFkNy1hMzIzMjU5OTFiYWQiLCJkb21haW4iOiJzcGFjZXMtZGV2ZWxvcGVyLnB4YW5kXC9zcGFjZXNcL3dlYlwvc3BhY2VzZGF0YSIsImFsaWFzIjoiYWRtaW4xMDJAcCZzLmNvbSIsImV4cCI6MTMwMDgxOTM4MCwiYWNjb3VudCI6IjdsZWFmLjdsZWFmXC9zcGFjZXNcL2FjY291bnRcL3NwYWNlcy1pZGVudGl0eS5wYXVsYW5kc2hhcmsiLCJ0cyI6IjE2OTcxNzc5Mjk5NDEifQ.GQnKmtISUpANkrHc5uuU_HYEunYhOwDyzJY2nRjaW6o" />
    <add key="ApiBaseUrl" value="https://spacesdata.xyretail.com/_s/" />
    <add key="print_server_id" value="IT01/live-print-server-2" />
    <add key="Get_Printer_Relative_URI" value="xypop.api.queryPrinters?id=IT01/live-print-server-2" />
    <add key="Get_Printer_Queue_Relative_URI" value="xypop.api.queryPrinterQueue?id=IT01/live-print-server-2" />
    <!--<add key="Fisical_Printer_URI" value="/cgi-bin/fpmate.cgi?timeout=20000" />
		<add key="NON_Fisical_Printer_URI" value="/cgi-bin/epos/service.cgi" />-->
    <add key="Update_Printer_URI" value="xypop.api.setPrintDocumentStatus" />
    <add key="LogInfo" value="true" />
    <add key="LogError" value="true" />
    <add key="Interval" value="3000" />
  </appSettings>
</configuration>